<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="nodetomic-api">
    <meta name="author" content="nodetomic-api">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <title>API</title>
</head>

<body>
    <div>
        <h2>NODETOMIC</h2>
        <img src="logo.svg " width="40" />
    </div>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        div {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 300px;
            height: 200px;
            text-align: center;
        }

        h2 {
            color: #585858;
            font-size: 50px;
            margin: 10px;
            font-weight: 100;
        }
    </style>
</body>

</html>