$hola:'red';

@import '1leo.scss';


body{
    background: $papu !important;   
    /*color:$hola;*/
    /*background-color: $papu;*/

    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #eee;
};